{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'styles/what.css' %}">
    <title>Analizador de WhatsApp</title>
</head>
<body>
    <header>
        <h1>Bienvenido {{ user_name }}</h1>
    </header>
    
    <div class="content-form">
        <!-- Formulario de subida -->
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="file" name="archivo" required>
            <button type="submit">Subir y Analizar</button>
        </form>
    </div>
    
    <section class="table-content">
        <!-- Mostrar resultados -->
        {% if chat_data %}
        <h2>Análisis del Chat</h2>
        <p>Total de mensajes: {{ chat_data|length }}</p>
        <!-- Tabla de mensajes -->
        <table class="table-data" >
            <thead>
                <tr>
                    <th class="col-fecha">Fecha</th>
                    <th class="col-remitente">Remitente</th>
                    <th class="col-mensaje">Mensaje</th>
                </tr>
            </thead>
            <tbody>
                {% for entry in chat_data %}
                <tr>
                    <td class="col-fecha">{{ entry.Fecha }}</td>
                    <td class="col-remitente">{{ entry.Remitente }}</td>
                    <td class="col-mensaje">{{ entry.Mensaje }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
            <p>No hay datos para mostrar. Sube un archivo de chat.</p>
        {% endif %}
        
    </section>
    

</body>
</html>