{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="content">
        <div class="change">
            <button id="login-change">login</button>
            <button id="register-change">Register</button>
        </div>
        <div class="form-content">
            <form id="register" class="input-group" method="POST" action="{% url 'register' %}">
                {% csrf_token %}
                <input type="text" class="input-field" placeholder="Username" name="user_name" required>
                <input type="email" class="input-field" placeholder="Email" name="email" required>
                <input type="password" class="input-field" placeholder="Password" name="password" required>
                <button type="submit" class="btn-register-login">Registrar</button>
            </form>
        </div>
    </div>
</body>
</html>